# Docs: https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: 'npm'
    directories:
      - '/'
    schedule:
      interval: 'monthly'
    groups:
      major:
        update-types: ['major']
      minor-and-patch:
        update-types: ['minor', 'patch']
