body {
  background-color: #C6D7C7;
}

.subscribe-button {
  position: fixed;
  top: 38px;
  bottom: inherit;
  right: 24px;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
  color: #EEE;
  border: none;
  background-color: #FF5035;
  text-decoration: none;
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
  font-weight: bold;
  opacity: 0.8;
}

.subscribe-button:hover {
  opacity: 1;
}

.header {
  background-color: #3085A3;
  text-align: center;
  padding: 25px;
}

.header a {
  color: #C6D7C7;
  font-size: 60px;
  font-family: 'Alegreya Sans SC';
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .subscribe-button {
    font-size: 20px;
    top: 32px;
    bottom: inherit;
    right: 20px;
  }

  .header a {
    font-size: 44px;
  }
}

@media (max-width: 800px) {
  .subscribe-button {
    font-size: 20px;
    top: inherit;
    bottom: 12px;
    right: 12px;
  }
}

@media (max-width: 700px) {
  .header a {
    font-size: 36px;
  }
}
