/**************/
/*  SECTIONS  */
/**************/
body {
  background-color: #C6D7C7;
}

.section-header {
  font-family: 'Alegreya Sans SC';
  font-size: 44px;
  color: #FF5035;
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}

#newsletter-section .section-header {
  margin-bottom: 0;
}

.home {
  height: 100%;
}


/******************/
/*  MAIN SECTION  */
/******************/
#main-section {
  height: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#main-section > div {
  width: 50%;
}

#experience-section, #newsletter-section {
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

#projects-section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.tagline {
  color: #3085A3;
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
}

.hash {
  height: 71px;
  width: 71px;
  margin: 0 auto 10px auto;
  display: block;
}

.hash line {
  stroke: #777;
  stroke-width: 4;
  stroke-linecap: round;
}

.nav {
  text-align: center;
}

.nav * {
  display: inline-block;
  font-size: 20px;
  color: #777;
  border-bottom: solid 3px #C6D7C7;
  transition: border 0.5s;
}

.nav a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: solid 3px #FF5035;
}

.nav-separator {
  display: inline-block;
  margin: 0 20px;
}

@keyframes fadeInAndSlideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.tagline, .hash, .nav {
  animation: fadeInAndSlideUp 1.5s both;
}

.hash {
  animation-delay: 0.25s;
}

.nav {
  animation-delay: 0.5s;
}

@media (max-width: 550px) {
  .section-header {
    font-size: 36px;
  }
}

@media (max-width: 900px) {
  #main-section > div {
    width: 100%;
  }

  .nav-container {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav * {
    font-size: 18px;
  }

  .nav-separator {
    margin: 0 10px;
  }
}
