/************/
/*  COLORS  */
/************/
/**
 * Red: #FF5035
 * Blue: #3085A3
 * Teal: #C6D7C7
 * Gray: #777
 */

/***************/
/*  NORMALIZE  */
/***************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Alegreya';
}

img {
  border: 0;
  text-decoration: none;
}

/* Set height of top-level elements to 100% to get allow for sections which cover the whole screen */
html,
body,
body > div {
  height: 100%;
}

@viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

/****************/
/*  ANIMATIONS  */
/****************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/************************/
/*  FADE-IN ANIMATIONS  */
/************************/
.visible > * {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.visible > *:nth-of-type(2) {
  transition-delay: 0.2s, 0.33s;
}

.visible > *:nth-of-type(3) {
  transition-delay: 0.4s, 0.67s;
}

.visible > *:nth-of-type(4) {
  transition-delay: 0.6s, 1s;
}

.visible > *:nth-of-type(5) {
  transition-delay: 0.8s, 1.33s;
}

.visible > *:nth-of-type(6) {
  transition-delay: 1s, 1.67s;
}

.visible > *:nth-of-type(7) {
  transition-delay: 1.2s, 2s;
}

.visible > *:nth-of-type(8) {
  transition-delay: 1.4s, 2.33s;
}
