body {
  background-color: #c6d7c7;
}

.header {
  background-color: #3085a3;
  text-align: center;
  padding: 25px;
}

.header a {
  color: #c6d7c7;
  font-size: 60px;
  font-family: 'Alegreya Sans SC';
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .header a {
    font-size: 44px;
  }
}

@media (max-width: 700px) {
  .header a {
    font-size: 36px;
  }
}
