.experience {
  flex: 1;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-item:nth-of-type(2) {
  transition-delay: 0.2s, 0.33s;
}

.experience-item:nth-of-type(3) {
  transition-delay: 0.4s, 0.67s;
}

.experience-item:nth-of-type(4) {
  transition-delay: 0.6s, 1s;
}

.experience-item:nth-of-type(5) {
  transition-delay: 0.8s, 1.33s;
}

.experience-item {
  margin-bottom: 60px;
}

.experience.visible .experience-item {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.experience-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: transform 1s, opacity 2s;
}

.experience-item-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 105px;
}

.experience-item-logo {
  width: 100%;
}

.experience-item:nth-of-type(5) .experience-item-logo {
  width: 150px;
}

.experience-item:nth-of-type(1) .experience-item-logo,
.experience-item:nth-of-type(4) .experience-item-logo {
  margin-top: 20px;
}

.experience-item-role {
  color: #3085a3;
  font-size: 22px;
  margin-bottom: 5px;
  text-align: center;
}

.experience-item-years {
  font-size: 16px;
  color: #777;
  text-align: center;
}

@media (max-width: 1200px) {
  .experience {
    width: 70%;
  }

  .experience-item {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .experience {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .experience {
    width: 100%;
  }

  #experience-section {
    min-height: 850px;
  }

  .experience-item {
    width: 100%;
    margin-bottom: 30px;
  }
}
