name: Preview staging website on PR

on:
  pull_request:
    paths:
      - 'src/**'
      - 'public/**'
      - '.firebaserc'
      - '.prettierignore'
      - '.prettierrc'
      - 'astro.config.mjs'
      - 'eslint.config.mjs'
      - 'firebase.json'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - '.github/workflows/firebase-hosting-pull-request.yml'

permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  deploy_hosting_stag:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JWNGR_5CB4B }}
          projectId: jwngr-5cb4b
